
/* all */
*		{ margin: 0; padding: 0; }
body	{ padding: 20px; font-family: Georgia, Times, serif; color: #444; background: #fff; }

/* tags */
article	{ border-left: 1px solid #eee; padding: 20px 0 20px 30px; }
code	{ font-family: monospace, sans-serif; background: #ededed; font-weight:bold; border-radius: 3px; padding: 3px 6px; }
h1		{ font-size: 40px; margin: 0 0 20px 0; color: #000; font-weight: normal; }
h2		{ font-size: 30px; margin: 30px 0 10px 0; color: #000; font-weight: normal; }
h3		{ font-size: 22px; margin: 20px 0 10px 0; color: #000; }
h4		{ font-size: 16px; color: #000; }
h5		{ font-size: 15px; color: #900; }

li 		{ line-height: 28px; }
p 		{ width: 800px; line-height: 28px; margin-bottom: 20px; }
pre		{ padding: 10px; background: #eee; border:1px dashed #ccc; margin: 10px 200px 30px 0; }
ul		{ margin-left: 40px; margin-bottom: 20px; }

/* custom classes */
.callout { border: 1px solid #ececcd; background: #fffff1; padding: 10px; margin: 10px 200px 20px 0; }
.inlineNote { font-size: 14px; color: #999; font-variant: small-caps; }
.todo	 { border: 1px solid #facddf; background: #fae8ef; padding: 5px 10px; font-style: italic; }

/* links */
a 		{ color: #0553ba; }